body {
    display: flex;
    text-align: center;
    background-color: lightgray;
}

#content-container {
    margin: auto;
    border-radius: 25px;
    border: 5px solid black;
    background-color: lightblue;
}

#buttons-container {
    margin: auto;
    text-align: center;
}

table, th, td {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid black;
    background-color: black;
}

th, td {
    width: auto;
    background-color: white;
}

@keyframes moneyShading {
	0% {
		top: 0px;
        position: relative;
        background-color: lightblue;
	}
	50% {
        top: 20px;
        position: relative;
        background-color: green;
    }
	100% {
        top: 0px;
        position: relative;
        background-color: lightblue;
	}
}

#content-container {
    animation-name: moneyShading;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 2;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;
        justify-content: center;
    }

    #content-container {
        width: 70%;
        padding: 20px;
    }

    #buttons-container {
        padding: 20px;
        display: inline;
    }

    table {
        width: 80%;
    }
}

@media only screen and (max-width: 799px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
    }

    #content-container {
        width: 90%;
        padding: 10px;
    }

    #buttons-container {
        padding: 10px;
        display: block;
    }

    table {
        width: 95%;
    }
}