body {
    display: flex;
    text-align: center;
    background-color: lightgray;
}

#content-container {
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
    background-color: lightblue;
}

@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;
        justify-content: center;
    }

    #content-container {
        width: 70%;
    }

    table {
        width: 80%;
    }
}

@media only screen and (max-width: 799px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
    }

    #content-container {
        width: 90%;
    }

    table {
        width: 95%;
    }
}

table, th, td {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid black;
    background-color: black;
}

th, td {
    width: auto;
    background-color: white;
}