body {
  background-color: #C0C0C0;
}

#Content-Container {
  background-color: #6F99DE;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  height: 100%;
  width: 60%;
}

#Content-Container nav {
  border-radius: 15px;
  padding: 10px;
  background-color: #EC4947;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#Content-Container nav li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#Content-Container nav li a {
  text-decoration: none;
  color: white;
}

#Content-Container nav li a:hover {
  color: #6F99DE;
}